{
  "openapi": "3.0.3",
  "info": {
    "title": "Gramps Web API",
    "version": "2.x",
    "description": "Genealogy REST API (people/families/events/places/sources/media)."
  },
  "servers": [
    {
      "url": "https://gramps.arpa/api"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/objects/": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "operationId": "post_objects",
        "summary": "POST /objects/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/objects/delete/": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "operationId": "post_delete_objects",
        "summary": "POST /objects/delete/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/objects/delete-by-handle/": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "operationId": "post_delete_objects_by_handle",
        "summary": "POST /objects/delete-by-handle/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/transactions/": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "operationId": "post_transactions",
        "summary": "POST /transactions/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/transactions/history/": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "operationId": "get_transactions_history",
        "summary": "GET /transactions/history/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/transactions/history/{transaction_id}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "operationId": "get_transaction_history",
        "summary": "GET /transactions/history/{transaction_id}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/transactions/history/{transaction_id}/undo": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "operationId": "get_transaction_undo",
        "summary": "GET /transactions/history/{transaction_id}/undo",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Transactions"
        ],
        "operationId": "post_transaction_undo",
        "summary": "POST /transactions/history/{transaction_id}/undo",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/token/": {
      "post": {
        "tags": [
          "Token"
        ],
        "operationId": "post_token",
        "summary": "POST /token/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/token/refresh/": {
      "post": {
        "tags": [
          "Token"
        ],
        "operationId": "post_token_refresh",
        "summary": "POST /token/refresh/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/token/create_owner/": {
      "get": {
        "tags": [
          "Token"
        ],
        "operationId": "get_token_create_owner",
        "summary": "GET /token/create_owner/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Token"
        ],
        "operationId": "post_token_create_owner",
        "summary": "POST /token/create_owner/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/oidc/login/": {
      "get": {
        "tags": [
          "OIDC"
        ],
        "operationId": "get_oidcloginresource",
        "summary": "GET /oidc/login/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/oidc/callback/": {
      "get": {
        "tags": [
          "OIDC"
        ],
        "operationId": "get_oidccallbackresource",
        "summary": "GET /oidc/callback/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/oidc/callback/{provider_id}": {
      "get": {
        "tags": [
          "OIDC"
        ],
        "operationId": "get_oidccallbackresource_provider",
        "summary": "GET /oidc/callback/{provider_id}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "provider_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/oidc/config/": {
      "get": {
        "tags": [
          "OIDC"
        ],
        "operationId": "get_oidcconfigresource",
        "summary": "GET /oidc/config/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/oidc/tokens/": {
      "get": {
        "tags": [
          "OIDC"
        ],
        "operationId": "get_oidctokenexchangeresource",
        "summary": "GET /oidc/tokens/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/oidc/logout/": {
      "get": {
        "tags": [
          "OIDC"
        ],
        "operationId": "get_oidclogoutresource",
        "summary": "GET /oidc/logout/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/oidc/backchannel-logout/": {
      "post": {
        "tags": [
          "OIDC"
        ],
        "operationId": "post_oidcbackchannellogoutresource",
        "summary": "POST /oidc/backchannel-logout/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/people/{handle}/timeline": {
      "get": {
        "tags": [
          "Timeline"
        ],
        "operationId": "get_person_timeline",
        "summary": "GET /people/{handle}/timeline",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/people/{handle}": {
      "get": {
        "tags": [
          "People"
        ],
        "operationId": "get_person",
        "summary": "GET /people/{handle}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/people/{handle}/dna/matches": {
      "get": {
        "tags": [
          "DNA"
        ],
        "operationId": "get_person_dna_matches",
        "summary": "GET /people/{handle}/dna/matches",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/people/{handle}/ydna": {
      "get": {
        "tags": [
          "DNA"
        ],
        "operationId": "get_person_ydna",
        "summary": "GET /people/{handle}/ydna",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/people/": {
      "get": {
        "tags": [
          "People"
        ],
        "operationId": "get_people",
        "summary": "GET /people/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/people/{phoenix_handle}/merge/{titanic_handle}": {
      "post": {
        "tags": [
          "People"
        ],
        "operationId": "post_merge_person",
        "summary": "POST /people/{phoenix_handle}/merge/{titanic_handle}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "phoenix_handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "titanic_handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/families/{handle}/timeline": {
      "get": {
        "tags": [
          "Timeline"
        ],
        "operationId": "get_family_timeline",
        "summary": "GET /families/{handle}/timeline",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/families/{handle}": {
      "get": {
        "tags": [
          "Families"
        ],
        "operationId": "get_family",
        "summary": "GET /families/{handle}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/families/": {
      "post": {
        "tags": [
          "Families"
        ],
        "operationId": "post_families",
        "summary": "POST /families/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/families/{phoenix_handle}/merge/{titanic_handle}": {
      "post": {
        "tags": [
          "Families"
        ],
        "operationId": "post_merge_family",
        "summary": "POST /families/{phoenix_handle}/merge/{titanic_handle}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "phoenix_handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "titanic_handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/events/{handle1}/span/{handle2}": {
      "get": {
        "tags": [
          "Events"
        ],
        "operationId": "get_event_span",
        "summary": "GET /events/{handle1}/span/{handle2}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "handle1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "handle2",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/events/{handle}": {
      "get": {
        "tags": [
          "Events"
        ],
        "operationId": "get_event",
        "summary": "GET /events/{handle}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/events/": {
      "get": {
        "tags": [
          "Events"
        ],
        "operationId": "get_events",
        "summary": "GET /events/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/events/{phoenix_handle}/merge/{titanic_handle}": {
      "get": {
        "tags": [
          "Events"
        ],
        "operationId": "get_merge_event",
        "summary": "GET /events/{phoenix_handle}/merge/{titanic_handle}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "phoenix_handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "titanic_handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/timelines/people/": {
      "get": {
        "tags": [
          "Timeline"
        ],
        "operationId": "get_timeline_people",
        "summary": "GET /timelines/people/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/timelines/families/": {
      "get": {
        "tags": [
          "Timeline"
        ],
        "operationId": "get_timeline_families",
        "summary": "GET /timelines/families/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/places/{handle}": {
      "get": {
        "tags": [
          "Places"
        ],
        "operationId": "get_place",
        "summary": "GET /places/{handle}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/places/": {
      "get": {
        "tags": [
          "Places"
        ],
        "operationId": "get_places",
        "summary": "GET /places/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/places/{phoenix_handle}/merge/{titanic_handle}": {
      "get": {
        "tags": [
          "Places"
        ],
        "operationId": "get_merge_place",
        "summary": "GET /places/{phoenix_handle}/merge/{titanic_handle}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "phoenix_handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "titanic_handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/citations/{handle}": {
      "get": {
        "tags": [
          "Citations"
        ],
        "operationId": "get_citation",
        "summary": "GET /citations/{handle}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/citations/": {
      "get": {
        "tags": [
          "Citations"
        ],
        "operationId": "get_citations",
        "summary": "GET /citations/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/citations/{phoenix_handle}/merge/{titanic_handle}": {
      "get": {
        "tags": [
          "Citations"
        ],
        "operationId": "get_merge_citation",
        "summary": "GET /citations/{phoenix_handle}/merge/{titanic_handle}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "phoenix_handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "titanic_handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/sources/{handle}": {
      "get": {
        "tags": [
          "Sources"
        ],
        "operationId": "get_source",
        "summary": "GET /sources/{handle}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/sources/": {
      "get": {
        "tags": [
          "Sources"
        ],
        "operationId": "get_sources",
        "summary": "GET /sources/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/sources/{phoenix_handle}/merge/{titanic_handle}": {
      "get": {
        "tags": [
          "Sources"
        ],
        "operationId": "get_merge_source",
        "summary": "GET /sources/{phoenix_handle}/merge/{titanic_handle}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "phoenix_handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "titanic_handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/repositories/{handle}": {
      "get": {
        "tags": [
          "Repositories"
        ],
        "operationId": "get_repository",
        "summary": "GET /repositories/{handle}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/repositories/": {
      "get": {
        "tags": [
          "Repositories"
        ],
        "operationId": "get_repositories",
        "summary": "GET /repositories/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/repositories/{phoenix_handle}/merge/{titanic_handle}": {
      "get": {
        "tags": [
          "Repositories"
        ],
        "operationId": "get_merge_repository",
        "summary": "GET /repositories/{phoenix_handle}/merge/{titanic_handle}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "phoenix_handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "titanic_handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/media/{handle}": {
      "get": {
        "tags": [
          "Media"
        ],
        "operationId": "get_media_object",
        "summary": "GET /media/{handle}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/media/": {
      "post": {
        "tags": [
          "Media"
        ],
        "operationId": "post_media_objects",
        "summary": "POST /media/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/media/{phoenix_handle}/merge/{titanic_handle}": {
      "get": {
        "tags": [
          "Media"
        ],
        "operationId": "get_merge_media",
        "summary": "GET /media/{phoenix_handle}/merge/{titanic_handle}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "phoenix_handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "titanic_handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/notes/{handle}": {
      "get": {
        "tags": [
          "Notes"
        ],
        "operationId": "get_note",
        "summary": "GET /notes/{handle}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/notes/": {
      "get": {
        "tags": [
          "Notes"
        ],
        "operationId": "get_notes",
        "summary": "GET /notes/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/notes/{phoenix_handle}/merge/{titanic_handle}": {
      "get": {
        "tags": [
          "Notes"
        ],
        "operationId": "get_merge_note",
        "summary": "GET /notes/{phoenix_handle}/merge/{titanic_handle}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "phoenix_handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "titanic_handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/tags/{handle}": {
      "get": {
        "tags": [
          "Tags"
        ],
        "operationId": "get_tag",
        "summary": "GET /tags/{handle}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/tags/": {
      "get": {
        "tags": [
          "Tags"
        ],
        "operationId": "get_tags",
        "summary": "GET /tags/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/trees/{tree_id}": {
      "get": {
        "tags": [
          "Trees"
        ],
        "operationId": "get_tree",
        "summary": "GET /trees/{tree_id}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "tree_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "tags": [
          "Trees"
        ],
        "operationId": "put_tree",
        "summary": "PUT /trees/{tree_id}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "tree_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/trees/": {
      "get": {
        "tags": [
          "Trees"
        ],
        "operationId": "get_trees",
        "summary": "GET /trees/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Trees"
        ],
        "operationId": "post_trees",
        "summary": "POST /trees/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/trees/{tree_id}/disable": {
      "post": {
        "tags": [
          "Trees"
        ],
        "operationId": "post_disable_tree",
        "summary": "POST /trees/{tree_id}/disable",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "tree_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/trees/{tree_id}/enable": {
      "post": {
        "tags": [
          "Trees"
        ],
        "operationId": "post_enable_tree",
        "summary": "POST /trees/{tree_id}/enable",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "tree_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/trees/{tree_id}/repair": {
      "post": {
        "tags": [
          "Trees"
        ],
        "operationId": "post_repair_tree",
        "summary": "POST /trees/{tree_id}/repair",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "tree_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/trees/{tree_id}/migrate": {
      "post": {
        "tags": [
          "Trees"
        ],
        "operationId": "post_migrate_tree",
        "summary": "POST /trees/{tree_id}/migrate",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "tree_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/trees/{tree_id}/config": {
      "get": {
        "tags": [
          "Trees"
        ],
        "operationId": "get_tree_config",
        "summary": "GET /trees/{tree_id}/config",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "tree_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "tags": [
          "Trees"
        ],
        "operationId": "put_tree_config",
        "summary": "PUT /trees/{tree_id}/config",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "tree_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/types/custom/{datatype}": {
      "get": {
        "tags": [
          "Types"
        ],
        "operationId": "get_custom_type",
        "summary": "GET /types/custom/{datatype}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "datatype",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/types/custom/": {
      "get": {
        "tags": [
          "Types"
        ],
        "operationId": "get_custom_types",
        "summary": "GET /types/custom/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/types/default/{datatype}/map": {
      "get": {
        "tags": [
          "Types"
        ],
        "operationId": "get_default_type_map",
        "summary": "GET /types/default/{datatype}/map",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "datatype",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/types/default/{datatype}": {
      "get": {
        "tags": [
          "Types"
        ],
        "operationId": "get_default_type",
        "summary": "GET /types/default/{datatype}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "datatype",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/types/default/": {
      "get": {
        "tags": [
          "Types"
        ],
        "operationId": "get_default_types",
        "summary": "GET /types/default/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/types/": {
      "get": {
        "tags": [
          "Types"
        ],
        "operationId": "get_types",
        "summary": "GET /types/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/name-formats/": {
      "get": {
        "tags": [
          "Name Formats"
        ],
        "operationId": "get_name_formats",
        "summary": "GET /name-formats/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/name-groups/{surname}/{group}": {
      "get": {
        "tags": [
          "Name Groups"
        ],
        "operationId": "get_set_name_group",
        "summary": "GET /name-groups/{surname}/{group}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "surname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Name Groups"
        ],
        "operationId": "post_set_name_group",
        "summary": "POST /name-groups/{surname}/{group}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "surname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/name-groups/{surname}": {
      "get": {
        "tags": [
          "Name Groups"
        ],
        "operationId": "get_get_name_group",
        "summary": "GET /name-groups/{surname}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "surname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Name Groups"
        ],
        "operationId": "post_get_name_group",
        "summary": "POST /name-groups/{surname}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "surname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/name-groups/": {
      "get": {
        "tags": [
          "Name Groups"
        ],
        "operationId": "get_name_groups",
        "summary": "GET /name-groups/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Name Groups"
        ],
        "operationId": "post_name_groups",
        "summary": "POST /name-groups/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/bookmarks/{namespace}": {
      "get": {
        "tags": [
          "Bookmarks"
        ],
        "operationId": "get_bookmark",
        "summary": "GET /bookmarks/{namespace}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/bookmarks/": {
      "get": {
        "tags": [
          "Bookmarks"
        ],
        "operationId": "get_bookmarks",
        "summary": "GET /bookmarks/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/bookmarks/{namespace}/{handle}": {
      "delete": {
        "tags": [
          "Bookmarks"
        ],
        "operationId": "delete_bookmark_edit",
        "summary": "DELETE /bookmarks/{namespace}/{handle}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "tags": [
          "Bookmarks"
        ],
        "operationId": "put_bookmark_edit",
        "summary": "PUT /bookmarks/{namespace}/{handle}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/filters/{namespace}/{name}": {
      "delete": {
        "tags": [
          "Filters"
        ],
        "operationId": "delete_filter",
        "summary": "DELETE /filters/{namespace}/{name}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "tags": [
          "Filters"
        ],
        "operationId": "get_filter",
        "summary": "GET /filters/{namespace}/{name}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/filters/{namespace}": {
      "get": {
        "tags": [
          "Filters"
        ],
        "operationId": "get_filters_namespace",
        "summary": "GET /filters/{namespace}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Filters"
        ],
        "operationId": "post_filters_namespace",
        "summary": "POST /filters/{namespace}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "tags": [
          "Filters"
        ],
        "operationId": "put_filters_namespace",
        "summary": "PUT /filters/{namespace}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/filters/": {
      "get": {
        "tags": [
          "Filters"
        ],
        "operationId": "get_filters",
        "summary": "GET /filters/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/translations/{language}": {
      "get": {
        "tags": [
          "Translations"
        ],
        "operationId": "get_translation",
        "summary": "GET /translations/{language}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "language",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Translations"
        ],
        "operationId": "post_translation",
        "summary": "POST /translations/{language}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "language",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/translations/": {
      "get": {
        "tags": [
          "Translations"
        ],
        "operationId": "get_translations",
        "summary": "GET /translations/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/parsers/dna-match": {
      "post": {
        "tags": [
          "DNA"
        ],
        "operationId": "post_dna_match_parser",
        "summary": "POST /parsers/dna-match",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/relations/{handle1}/{handle2}": {
      "get": {
        "tags": [
          "Relations"
        ],
        "operationId": "get_relation",
        "summary": "GET /relations/{handle1}/{handle2}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "handle1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "handle2",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/relations/{handle1}/{handle2}/all": {
      "get": {
        "tags": [
          "Relations"
        ],
        "operationId": "get_relations",
        "summary": "GET /relations/{handle1}/{handle2}/all",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "handle1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "handle2",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/living/{handle}/dates": {
      "get": {
        "tags": [
          "Living"
        ],
        "operationId": "get_living_dates",
        "summary": "GET /living/{handle}/dates",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/living/{handle}": {
      "get": {
        "tags": [
          "Living"
        ],
        "operationId": "get_living",
        "summary": "GET /living/{handle}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/reports/{report_id}/file": {
      "get": {
        "tags": [
          "Reports"
        ],
        "operationId": "get_report_file",
        "summary": "GET /reports/{report_id}/file",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Reports"
        ],
        "operationId": "post_report_file",
        "summary": "POST /reports/{report_id}/file",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/reports/{report_id}": {
      "get": {
        "tags": [
          "Reports"
        ],
        "operationId": "get_report",
        "summary": "GET /reports/{report_id}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/reports/": {
      "get": {
        "tags": [
          "Reports"
        ],
        "operationId": "get_reports",
        "summary": "GET /reports/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/reports/{report_id}/file/processed/{filename}": {
      "get": {
        "tags": [
          "Reports"
        ],
        "operationId": "get_report_file_result",
        "summary": "GET /reports/{report_id}/file/processed/{filename}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/facts/": {
      "get": {
        "tags": [
          "Facts"
        ],
        "operationId": "get_facts",
        "summary": "GET /facts/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/exporters/{extension}/file": {
      "get": {
        "tags": [
          "Exporters"
        ],
        "operationId": "get_exporter_file",
        "summary": "GET /exporters/{extension}/file",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "extension",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Exporters"
        ],
        "operationId": "post_exporter_file",
        "summary": "POST /exporters/{extension}/file",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "extension",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/exporters/{extension}/file/processed/{filename}": {
      "get": {
        "tags": [
          "Exporters"
        ],
        "operationId": "get_exporter_file_result",
        "summary": "GET /exporters/{extension}/file/processed/{filename}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "extension",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/exporters/{extension}": {
      "get": {
        "tags": [
          "Exporters"
        ],
        "operationId": "get_exporter",
        "summary": "GET /exporters/{extension}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "extension",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/exporters/": {
      "get": {
        "tags": [
          "Exporters"
        ],
        "operationId": "get_exporters",
        "summary": "GET /exporters/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/importers/{extension}/file": {
      "post": {
        "tags": [
          "Importers"
        ],
        "operationId": "post_importer_file",
        "summary": "POST /importers/{extension}/file",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "extension",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/importers/{extension}": {
      "get": {
        "tags": [
          "Importers"
        ],
        "operationId": "get_importer",
        "summary": "GET /importers/{extension}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "extension",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/importers/": {
      "get": {
        "tags": [
          "Importers"
        ],
        "operationId": "get_importers",
        "summary": "GET /importers/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/holidays/{country}/{year}/{month}/{day}": {
      "get": {
        "tags": [
          "Holidays"
        ],
        "operationId": "get_holiday",
        "summary": "GET /holidays/{country}/{year}/{month}/{day}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "month",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "day",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/holidays/": {
      "get": {
        "tags": [
          "Holidays"
        ],
        "operationId": "get_holidays",
        "summary": "GET /holidays/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/metadata/": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "operationId": "get_metadata",
        "summary": "GET /metadata/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/metadata/researcher/": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "operationId": "get_metadata_researcher",
        "summary": "GET /metadata/researcher/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "Metadata"
        ],
        "operationId": "put_metadata_researcher",
        "summary": "PUT /metadata/researcher/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/users/": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "get_users",
        "summary": "GET /users/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Users"
        ],
        "operationId": "post_users",
        "summary": "POST /users/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/users/{user_name}/": {
      "delete": {
        "tags": [
          "Users"
        ],
        "operationId": "delete_user",
        "summary": "DELETE /users/{user_name}/",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "user_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "get_user",
        "summary": "GET /users/{user_name}/",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "user_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Users"
        ],
        "operationId": "post_user",
        "summary": "POST /users/{user_name}/",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "user_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "tags": [
          "Users"
        ],
        "operationId": "put_user",
        "summary": "PUT /users/{user_name}/",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "user_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/users/{user_name}/register/": {
      "post": {
        "tags": [
          "Users"
        ],
        "operationId": "post_register",
        "summary": "POST /users/{user_name}/register/",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "user_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/users/{user_name}/create_owner/": {
      "post": {
        "tags": [
          "Users"
        ],
        "operationId": "post_user_create_owner",
        "summary": "POST /users/{user_name}/create_owner/",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "user_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/users/-/email/confirm/": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "get_confirm_email",
        "summary": "GET /users/-/email/confirm/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/users/{user_name}/password/change": {
      "post": {
        "tags": [
          "Users"
        ],
        "operationId": "post_change_password",
        "summary": "POST /users/{user_name}/password/change",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "user_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/users/-/password/reset/": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "get_reset_password",
        "summary": "GET /users/-/password/reset/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Users"
        ],
        "operationId": "post_reset_password",
        "summary": "POST /users/-/password/reset/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/users/{user_name}/password/reset/trigger/": {
      "post": {
        "tags": [
          "Users"
        ],
        "operationId": "post_trigger_reset_password",
        "summary": "POST /users/{user_name}/password/reset/trigger/",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "user_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/search/": {
      "get": {
        "tags": [
          "Search"
        ],
        "operationId": "get_search",
        "summary": "GET /search/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/search/index/": {
      "post": {
        "tags": [
          "Search"
        ],
        "operationId": "post_search_index",
        "summary": "POST /search/index/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/trees/{tree_id}/verify": {
      "post": {
        "tags": [
          "Trees"
        ],
        "operationId": "post_verify",
        "summary": "POST /trees/{tree_id}/verify",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "tree_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/chat/": {
      "post": {
        "tags": [
          "Chat"
        ],
        "operationId": "post_chat",
        "summary": "POST /chat/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/config/": {
      "get": {
        "tags": [
          "Config"
        ],
        "operationId": "get_configs",
        "summary": "GET /config/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/config/{key}/": {
      "delete": {
        "tags": [
          "Config"
        ],
        "operationId": "delete_config",
        "summary": "DELETE /config/{key}/",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "tags": [
          "Config"
        ],
        "operationId": "get_config",
        "summary": "GET /config/{key}/",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "tags": [
          "Config"
        ],
        "operationId": "put_config",
        "summary": "PUT /config/{key}/",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/tasks/": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "operationId": "get_tasks",
        "summary": "GET /tasks/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/tasks/{task_id}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "operationId": "get_task",
        "summary": "GET /tasks/{task_id}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/media/{handle}/file": {
      "get": {
        "tags": [
          "Media"
        ],
        "operationId": "get_media_file",
        "summary": "GET /media/{handle}/file",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "tags": [
          "Media"
        ],
        "operationId": "put_media_file",
        "summary": "PUT /media/{handle}/file",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/media/{handle}/face_detection": {
      "get": {
        "tags": [
          "Media"
        ],
        "operationId": "get_media_face_detection",
        "summary": "GET /media/{handle}/face_detection",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/media/{handle}/ocr": {
      "post": {
        "tags": [
          "Media"
        ],
        "operationId": "post_media_ocr",
        "summary": "POST /media/{handle}/ocr",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/media/archive/": {
      "post": {
        "tags": [
          "Media"
        ],
        "operationId": "post_media_archive",
        "summary": "POST /media/archive/",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/media/archive/{filename}": {
      "get": {
        "tags": [
          "Media"
        ],
        "operationId": "get_media_archive_filename",
        "summary": "GET /media/archive/{filename}",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/media/archive/upload/zip": {
      "post": {
        "tags": [
          "Media"
        ],
        "operationId": "post_media_archive_upload_zip",
        "summary": "POST /media/archive/upload/zip",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  }
}